body {
  background-color: wheat;
}
.error-template {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 15px;
  text-align: center;
}
